# These are mandatory requirements
grpcio
grpcio-tools
protobuf
# There are your requirements
# Install headless version of opencv-python for server usage
# Does not install graphical modules
# See https://github.com/opencv/opencv-python#installation-and-usage
opencv-python-headless